@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f2f2f2;
}
.wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  animation: show 1s ease forwards;
}
@keyframes show {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80%,
  100% {
    transform: translateX(20px);
  }
}
.wrapper.hide {
  animation: hide 1s ease forwards;
}
@keyframes hide {
  0% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(-10%);
  }
  80%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }
}
.wrapper .toast {
  background: #fff;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  border-left: 5px solid #2ecc71;
}
.wrapper .toast.offline {
  border-color: #ccc;
}
.content {
  display: flex;
  align-items: center;
}
.content .icon {
  font-size: 25px;
  background-color: #2ecc71;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast.offline .content .icon {
  background: #ccc;
}
.details span {
  font-size: 20px;
  font-weight: 500;
}
.details p {
  color: #878787;
}
.details {
  margin-left: 15px;
}
.close-icon {
  background-color: #f2f2f2;
  height: 40px;
  width: 40px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 50%;
  color: #878787;
  display: flex;
  align-items: center;
  justify-content: center;
}
